{{#if preview}}
    <span class="ms-font-xxl view-header">
        <i id="BackButtonEdit" class="ms-Icon ms-Icon--receiptReply back"></i>
        Preview Poll
    </span>
{{/if}}

<div id="ViewPoll" class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-lg6">
            <form id='PollData' method="post">
            <input id="PollId" type="hidden" name="pollId" value="{{pollId}}" />
            <div class='ms-TextField'>    
                <p class="ms-font-l">{{question}}</p>
                <input id="QuestionId" type="hidden" name="questionId" value="{{questionId}}" />
            </div>
            
            {{#each answers}}
            <div id="PollAnswers" class="answer-container ms-ChoiceField">
                <input id="Radio{{@index}}" class='required' type='radio' name='answers' value="{{@index}}">
                    {{answer}}
                </input>
                <input type="hidden" name="answerId" value="{{RowKey}}" />
                <input type="hidden" name="answer" value="{{answer}}" />
                <input type="hidden" name="color" value="{{color}}" />
                <input type="hidden" name="tally" value="{{tally}}" />
            </div>
            {{/each}}
            
            <div class='validation'>    
                <label class="ms-validation"/>
            </div>
            
            <div class="button-container">
                <button class="ms-Button ms-Button--primary submit-response" type="submit">Submit Response</button>
            </div>              
            </form>               
        </div>
        
        <div class="ms-Grid-col ms-u-sm12 ms-u-lg6">
            <div id="PollResults" class="hide"></div>
        </div>
        
        <div id="PollButtons" class="ms-Grid-col ms-u-sm12 ms-u-lg6 button-container hide">
        {{#if preview}}
            <button id="ResubmitPollButton" class="ms-Button resubmit-poll" type="button">Resubmit</button>
            <button id="InsertPollButton" class="ms-Button ms-Button--primary insert-poll" type="button">Insert Poll</button>
        {{/if}}
        </div>
    </div>
 </div>