<div class="ms-Grid ">
    <div class="ms-Grid-row">
        <span class="ms-Grid-col ms-u-lg12">    
          <div class="ms-Table">
            <div class="ms-Table-row">
              <span class="ms-Table-rowCheck"></span>
              <span class="ms-Table-cell">Entity ID</span>
              <span class="ms-Table-cell">Question ID</span>
              <span class="ms-Table-cell">Answer ID</span>
              <span class="ms-Table-cell">Answer</span>
              <span class="ms-Table-cell">Color</span>
              <span class="ms-Table-cell">Tally</span>
              <span class="ms-Table-cell icon-col">Modified</span>
              <span class="ms-Table-cell">Delete</span>
            </div>
            
            {{#each body.value}}
              <div class="ms-Table-row">
                <span class="ms-Table-rowCheck"></span>
                <span class="ms-Table-cell">{{entityId}}</span>
                <span class="ms-Table-cell">{{questionId}}</span>
                <span class="ms-Table-cell">{{RowKey}}</span>
                <span class="ms-Table-cell">{{answer}}</span>
                <span class="ms-Table-cell">{{color}}</span>
                <span class="ms-Table-cell">{{tally}}</span>
                <span class="ms-Table-cell date-field">{{Timestamp}}</span>
                <span class="ms-Table-cell">
                  <a class="delete-row" href="/answers/delete/{{RowKey}}">
                    <i class="ms-Icon ms-Icon--trash"></i>
                  </a>
                </span>
              </div>
            {{/each}}
          </div>
        </span>
    </div>
</div>

