<div class="ms-Table">
  <div class="ms-Table-row">
    <span class="ms-Table-rowCheck"></span>
    <span class="ms-Table-cell">Entity ID</span>
    <span class="ms-Table-cell">Question ID</span>
    <span class="ms-Table-cell">Response ID</span>
    <span class="ms-Table-cell">Response</span>
    <span class="ms-Table-cell">User</span>
    <span class="ms-Table-cell">Date Created</span>
    <span class="ms-Table-cell">Delete</span>
  </div>
  
  {{#each body.value}}
    <div class="ms-Table-row">
        <span class="ms-Table-rowCheck"></span>
        <span class="ms-Table-cell">{{entityId}}</span>
        <span class="ms-Table-cell">{{questionId}}</span>
        <span class="ms-Table-cell">{{RowKey}}</span>
        <span class="ms-Table-cell">{{response}}</span>
        <span class="ms-Table-cell">{{user}}</span>
        <span class="ms-Table-cell date-field">{{dateCreated}}</span>
        <span class="ms-Table-cell">
            <a class="delete-row" href="/responses/delete/{{RowKey}}">
                <i class="ms-Icon ms-Icon--trash"></i>
            </a>
        </span>
    </div>
  {{/each}}
</div>

<div class="button-container">
  <a href="/">
    <button class="ms-Button">Done</button>
  </a>
</div>